@import "tailwindcss";

:root {
  --background: #f1f4f8;
  --foreground: #1f2937;
}

@media (min-width: 640px) {
  :root {
    --background: linear-gradient(
      135deg,
      #f5f6fa 0%,
      #f7fafc 60%,
      #f1f4f8 100%
    );
    --foreground: #1f2937;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      135deg,
      #0a0905 0%,
      #080503 60%,
      #0e0b07 100%
    );
    --foreground: #d1d5db;
  }
}

html {
  background: var(--background);
  color: var(--foreground);
}

.glass {
  @apply flex bg-gray-100/60 dark:bg-zinc-800/60 backdrop-blur-sm rounded-xl ring-1 dark:ring-zinc-800 ring-gray-300 shadow-[0_0_8px_2px_rgba(180,180,200,0.2)] dark:shadow-[0_0_8px_2px_rgba(75,75,86,0.2)] transition-all duration-400 hover:bg-gray-100/70 dark:hover:bg-zinc-800/70 backdrop-blur-md hover:shadow-[0_0_16px_2px_rgba(180,180,200,0.3)] dark:hover:shadow-[0_0_8px_2px_rgba(75,75,86,0.3)] focus-within:bg-gray-100/70 dark:focus-within:bg-zinc-800/70 focus-within:backdrop-blur-md focus-within:shadow-[0_0_16px_2px_rgba(180,180,200,0.3)] dark:focus-within:shadow-[0_0_8px_2px_rgba(75,75,86,0.3)];
}
